/*                                       */
/*            * 600x - 800px *           */
/*                                       */


/*************************************************************************/
/******************************  Variables  ******************************/
/*************************************************************************/


/************************************************************/
/************************* Settings *************************/
/************************************************************/


/*************************************************************/
/************************* Utilities *************************/
/*************************************************************/


/**************************************************************************/
/************************* Hero, Nav and Sidemenu *************************/
/**************************************************************************/

/* Sidebar Menu */

.sidebar-menu {
    background-color: var(--main-black);
    color:            var(--main-white);
    height:           50%;
    /* left:             -22vw; */
    position:         fixed;
    top:              -50%;
    transition:       all 1s ease-in-out;
    width:            100vw;
} 

.lateral-nav {
    align-items:     center;
    display:         flex;
    flex-direction:  column;
    gap:             2rem;
    justify-content: center;
    margin-top:      2rem;
}

.logo-lateral-menu {
    /* border-radius: 50%; */
    height:        18vh; 
    position:      relative;
    top: 12vh;
}

.menus {
    border-top:     0rem solid var(--main-white);
    flex-direction: row;
    margin-top:     1rem;
    padding:        10% auto;
    position:       relative;
    top:            -16vh;
}

.lateral-menu,
.sublateral-menu  {
    margin-top:     1.4rem;
}


/******************************************************/
/************************* Us *************************/
/******************************************************/


/************************************************************/
/************************* Products *************************/
/************************************************************/


/*********************************************************/
/************************* Q & A *************************/
/*********************************************************/


/***********************************************************/
/************************* Contact *************************/
/***********************************************************/


/***********************************************************/
/************************* Contact *************************/
/***********************************************************/


/**********************************************************/
/************************* Footer *************************/
/**********************************************************/