/*                                       */
/*           * 800x - 1000px *           */
/*                                       */


/*************************************************************************/
/******************************  Variables  ******************************/
/*************************************************************************/


/************************************************************/
/************************* Settings *************************/
/************************************************************/


/*************************************************************/
/************************* Utilities *************************/
/*************************************************************/


/**************************************************************************/
/************************* Hero, Nav and Sidemenu *************************/
/**************************************************************************/


/* Hero */

.hero-container-index {
    background-image:    url('../img/jpg/forest.jpg');
}

.hero-container-us {
    background-image:    url('../img/jpg/people.jpg');
}

.hero-container-contact {
    background-image:    url('../img/jpg/forest_3.jpg');
}

.hero-container {
    background-position: center/bottom;
    /* background-repeat:   no-repeat; */
    /* background-size:     cover;     */
    height:              100vh;
    /* margin:              0; */
    /* padding:             0; */
    /* width:               100%; */
}

.hero-image {
    align-items:      center;
    background-color: rgba(0, 0, 0, 0.3);
    display:          flex;
    height:           100%;
    justify-content:  center;
}

.hero-img-first {
    display: block;
}

.hero-img-second {
    display: none;
}

.hero-image img {
    height:     76vh;
    margin-top: 10rem;
    width:      76vw;
}


/******************************************************/
/************************* Us *************************/
/******************************************************/


/************************************************************/
/************************* Products *************************/
/************************************************************/

/* Product */

.product-image-container img {
    height: 60vh;
}


/*********************************************************/
/************************* Q & A *************************/
/*********************************************************/

.section-qa {
    padding: 0 8rem;
    width:   100%;
}

.qa-green {
    background-color: transparent;
    border-radius:    4rem 0;
    box-shadow:       1rem 1rem 2rem transparent;
    color:            var(--main-black);
    transition:       all 0.3s linear;
}

.qa-green:hover {
    background-color: var(--main-green);
    border-radius:    4rem 0;
    box-shadow:       1rem 1rem 2rem var(--main-black);
    color:            var(--main-white);   
}

.qa-red {
    background-color: transparent;
    border-radius:    4rem 0;
    box-shadow:       1rem 1rem 2rem transparent;
    color:            var(--main-black);
    transition:       all 0.3s linear;
}

.qa-red:hover {
    background-color: var(--main-red);
    border-radius:    4rem 0;
    box-shadow:       1rem 1rem 2rem var(--main-black);
    color:            var(--main-white);    
}

.question {
    align-items: flex-start;
    display:     flex;
    margin:      0 8rem; 
}

/***********************************************************/
/************************* Contact *************************/
/***********************************************************/


/***********************************************************/
/************************* Contact *************************/
/***********************************************************/


/**********************************************************/
/************************* Footer *************************/
/**********************************************************/






/*********************************************************/
/************************* About *************************/
/*********************************************************/


@media (min-width: 1200px) {

/* Staff */

.staff-container {
    /* align-items:     center; */
    /* display:         flex; */
    /* flex-direction:  column; */
    /* gap:             5rem; */
    /* height:          180rem; */
    /* justify-content: space-between; */
    margin:          10rem 0 0 0;
    /* padding:         0; */
    /* width:           100%; */
}

/* Team */

.team-container {
    /* align-items:     center; */
    /* display:         flex; */
    flex-direction:  row;
    gap:             5rem;
    height:          80rem;
    justify-content: center;
    /* margin:          0; */
    /* padding:         0; */
    /* width:           95%; */
}

.team-container-list {
    /* align-items:     center; */
    /* display:         flex; */
    /* flex-direction:  column; */
    /* height:          60rem; */
    /* justify-content: space-around; */
    /* margin:          0; */
    /* padding:         0; */
    width:           35%;
}

.team-person {
    align-items:      center;
    background-color: transparent;   
    border-radius:    4rem 0 4rem 0;
    color:            var(--main-black);
    display:          flex;
    font-size:        var(--large);
    height:           6rem;
    justify-content:  center;
    width:            80%;
}

.team-person-active {    
    background-color: var(--main-green);
    border-radius:    4rem 0 4rem 0;
    color:            var(--main-white);
    box-shadow:       1rem 1rem 2rem var(--main-black);
}

.team-person:hover,
.team-person-active:hover {
    /* cursor: pointer; */
}

.team-container-card {
    /* align-items:      center; */
    /* background-color: var(--main-red); */
    /* border-radius:    4rem 0 4rem 0; */
    /* box-shadow:       1rem 1rem 2rem var(--main-black);     */
    /* display:          flex; */
    /* flex-direction:   column; */
    gap:              1rem;
    height:           100%;
    /* justify-content:  center; */
    /* margin:           0; */
    /* padding:          0; */
    width:            62%;
}

.team-card {
    /* align-items:      center; */
    /* display:          none; */
    float:            row;
    /* height:           100%; */
    /* justify-content:  space-around; */
    /* top:              auto; */
    /* width:            100%;    */
}

.team-info {
    /* align-items:     left; */
    /* color:           transparent; */
    /* display:         flex; */
    /* flex-direction:  column; */
    gap:             6rem;
    /* height:          100%; */
    /* justify-content: center; */
    /* width:           100%;     */
}

.team-image img {
    border-radius: 50%;
    display: none;
    height:        20rem;
    margin:        0;
    padding:       0;
}

/* Info */

.info-container {
    background-color: orange;
    height: 80rem;
    width: 95%;
}


}


