/*                                       */
/*            * 600x - 800px *           */
/*                                       */


/*************************************************************************/
/******************************  Variables  ******************************/
/*************************************************************************/


/************************************************************/
/************************* Settings *************************/
/************************************************************/


/*************************************************************/
/************************* Utilities *************************/
/*************************************************************/

.presentation-grid {
    grid-template-columns: repeat(2, 1fr);
}

.second-title {
    font-size:     var(--lll);
}


/**************************************************************************/
/************************* Hero, Nav and Sidemenu *************************/
/**************************************************************************/

/* Sidebar Menu */

.sidebar-menu {
    background-color: var(--main-black);
    color:            var(--main-white);
    height:           20rem;
    /* left:             -22vw; */
    position:         fixed;
    top:              -20rem;
    transition:       all 1s ease-in-out;
    width:            100vw;
} 

.lateral-nav {
    align-items:     center;
    display:         flex;
    flex-direction:  column;
    gap:             2rem;
    justify-content: center;
    margin-top:      2rem;
}

.logo-lateral-menu {
    /* border-radius: 50%; */
    height:   8rem; 
    position: relative;
    top:      2rem;
}

.menus {
    border-top:     0rem solid var(--main-white);
    flex-direction: row;
    margin-top:     1rem;
    padding:        4rem auto;
    position:       relative;
    top:            -12rem;
}

.lateral-menu,
.sublateral-menu  {
    margin-top:     1.4rem;
}


/******************************************************/
/************************* Us *************************/
/******************************************************/

.us-presentation {
    background-image:    linear-gradient(to left, transparent 50%, 50%, var(--main-red) 100%), url('../img/jpg/products-start.jpg');
    background-position: right center;
    background-repeat:   no-repeat;
    background-size:     cover;   
}

.mision-presentation {
    background-image:    linear-gradient(to right, transparent 50%, 50%, var(--main-green) 100%), url('../img/jpg/products-start.jpg');
    background-position: left center;
    background-repeat:   no-repeat;
    background-size:     cover;   
}

.vision-presentation {
    background-image:    linear-gradient(to left, transparent 50%, 50%, var(--main-red) 100%), url('../img/jpg/products-start.jpg');
    background-position: right center;
    background-repeat:   no-repeat;
    background-size:     cover;   
}

.method-presentation {
    background-image:    linear-gradient(to right, transparent 50%, 50%, var(--main-green) 100%), url('../img/jpg/products-start.jpg');
    background-position: left center;
    background-repeat:   no-repeat;
    background-size:     cover;   
}


/* Products */

@media (min-width: 620px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


/************************************************************/
/************************* Products *************************/
/************************************************************/

.product-presentation {
    background-image:    linear-gradient(to right, transparent 50%, 50%, var(--main-green) 100%), url('../img/jpg/products-start.jpg');
    background-position: left center;
    background-repeat:   no-repeat;
    background-size:     cover;   
}

/* Products */

@media (min-width: 620px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


/********************************************************/
/************************* Blog *************************/
/********************************************************/



.blog-element-list {
    flex-direction:  row;
    gap: 8rem;
    justify-content: center;
    padding: 4rem;

}

.blog-left {
    flex-direction: row;    
}

.blog-rigth {
    flex-direction: row-reverse;    
}


.blog-element-image img {
    height: auto;
    width: 30rem;
}

.blog-element-description {
}


/*********************************************************/
/************************* Q & A *************************/
/*********************************************************/


/***********************************************************/
/************************* Contact *************************/
/***********************************************************/


.container-forms {
    width:           90%;
}




/***********************************************************/
/************************* Contact *************************/
/***********************************************************/


/**********************************************************/
/************************* Footer *************************/
/**********************************************************/





