/*                                       */
/*            * 400x - 500px *           */
/*                                       */


/*************************************************************************/
/******************************  Variables  ******************************/
/*************************************************************************/


/************************************************************/
/************************* Settings *************************/
/************************************************************/


/*************************************************************/
/************************* Utilities *************************/
/*************************************************************/


/**************************************************************************/
/************************* Hero, Nav and Sidemenu *************************/
/**************************************************************************/


/******************************************************/
/************************* Us *************************/
/******************************************************/


/************************************************************/
/************************* Products *************************/
/************************************************************/


/*********************************************************/
/************************* Q & A *************************/
/*********************************************************/


/***********************************************************/
/************************* Contact *************************/
/***********************************************************/


/***********************************************************/
/************************* Contact *************************/
/***********************************************************/


/**********************************************************/
/************************* Footer *************************/
/**********************************************************/

.main-footer {
    /* height: 40rem; */
}

.footer-social-list {
    flex-direction: row;
    gap:            8rem;
}


.social-title {
    font-size: var(--medium);
}

.copyright {
    font-size: var(--small);
}


/*********************************************************/
/************************* About *************************/
/*********************************************************/

/* Team */

.team-container {
    height:          140rem;
    gap: 6rem;
}

.team-person {
    width:            80%;
}

.team-container-card {
    padding:          4rem 2rem;
}